@import '@/styles/mixin.scss';

.creations_project_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.6rem 0rem;
    height: 100%;
    padding: 1.4rem 1rem 1.2rem;
    max-height: 40.96rem;

    &__item {
        @include text-properties($font-size: 1.6rem);
        align-items: center;
        color: var(--dark-grey);
        cursor: pointer;
        display: flex;
        gap: 0rem 1.2rem;
        transition: color var(--transition-element);
    }

    &__link {
        width: 100%;
    }

    &__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-dark-color);
        width: 4.8rem;
        height: 4.8rem;
    }
}

.creations_project_list_not_content {
    align-self: center;
    justify-self: center;
    padding-top: 1rem;
}

@media (hover: hover) {
    .creations_project_list__item:hover {
        color: var(--main-color);
    }
}
