@import '@/styles/mixin.scss';

.creations_about {
    max-height: 24rem;
    max-width: 44rem;
    overflow: auto;
    padding: 1.2rem;

    &__title {
        @include text-properties($line-height: 2.15rem);
        margin-bottom: 1rem;
    }

    &__text_box {
        @include text-properties($line-height: 1.62rem);
        color: var(--dark-grey);
        display: flex;
        flex-direction: column;
        gap: 1.5rem 0rem;
    }
}

@media (max-width: 1380px) {
    .creations_about {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        max-height: 35.2rem;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .creations_about {
        grid-column: 1 / -1;
        grid-row: auto;
        max-height: auto;
    }
}
