@import '../../css/mixin.scss';

.profile {
    &__element {
        @include flex-container(column, $gap: 0.3125rem 0rem);
    }

    &__title {
        @include text-properties($font-size: 0.875rem, $letter-spacing: 0.065625rem);
    }

    &__text {
        @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
        color: var(--main-color);
    }

    &__availability,
    &__social {
        @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
        background-color: var(--main-darklight-color);
        border: none;
        color: var(--main-background-color);
        cursor: pointer;
        overflow: hidden;
        padding: 0.4375rem 0rem 0.25rem 0.3125rem;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        transition: all 0.4s;
    }

    &__social {
        background-color: transparent;
        border: 0.0625rem solid var(--main-color);
        color: var(--main-color);
    }
}

.mobile {
    &__corporation {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    &__availability {
        grid-column: 1 / -1;
    }

    &__social {
        grid-column: 1 / -1;
    }
}

.bluetooth {
    @include absolute-position(50%, 0.3125rem);
    height: 1.5rem;
    transform: translateY(-50%);
    width: 1.5rem;
}

.bluetooth path {
    transition: all 0.4s;
}

@media (hover: hover) {
    .profile__social:hover {
        box-shadow: var(--box-shadow);
        text-shadow: var(--text-shadow);
    }

    .profile__social:hover svg path {
        filter: drop-shadow(var(--box-shadow));
    }

    .profile__availability:hover {
        background-color: var(--main-color);
    }
}

@media (max-width: 1200px) {
    .profile {
        &__title {
            @include fontSize16px();
        }

        &__text {
            @include fontSize20px();
        }

        &__element {
            justify-content: end;
        }

        &__availability {
            padding: 0.1875rem 0.3125rem 0.0975rem 0.3125rem;
        }

        &__element:nth-child(3) {
            // occupation
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            margin-bottom: 1.45rem;
        }

        &__element:nth-child(4) {
            // corporation
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        &__element:nth-child(5) {
            // availability
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            margin-bottom: 1.45rem;
        }

        &__element:nth-child(6) {
            // socail
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            margin-bottom: 1.45rem;
        }
    }

    .bluetooth {
        scale: 1.2;
    }
}

@media (max-width: 978px) {
    .profile {
        &__title {
            @include fontSize14px();
        }

        &__text {
            @include fontSize18px();
        }

        &__element {
            justify-content: end;
        }

        &__availability {
            padding: 0.1875rem 0.3125rem 0.0975rem 0.3125rem;
        }

        &__element:nth-child(3) {
            // occupation
            margin-bottom: 1.65rem;
        }

        &__element:nth-child(5) {
            // availability
            margin-bottom: 1.65rem;
        }

        &__element:nth-child(6) {
            // socail
            margin-bottom: 1.65rem;
        }
    }
}

@media (max-width: 768px) {
    .profile {
        &__element {
            justify-content: start;
        }

        &__element:nth-child(2) {
            // name
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        &__element:nth-child(3) {
            // name
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-bottom: 0;
        }

        &__element:nth-child(4) {
            // corporation
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }

        &__element:nth-child(5) {
            // availability
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            margin-bottom: 0;
        }

        &__element:nth-child(6) {
            // social
            grid-column: 1 / -1;
            grid-row: 4 / 5;
            margin-bottom: 0;
        }
    }
}
