@import '../../css/mixin.scss';

.modal {
    @include modal();

    &__inner {
        @include flex-container(column);
        position: relative;
    }

    &__box_title {
        @include flex-container($justify-content: space-between);
    }

    &__title {
        @include modal-title();
    }

    &__subtitle {
        @include modal-subtitle();
    }
}

@media (max-height: 890px) {
    .modal__inner {
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

@media (max-width: 1700px) {
    .modal {
        padding-left: 5.6875rem;
    }
}

@media (max-width: 1540px) {
    .modal {
        padding-left: 3.6875rem;
    }
}

@media (max-width: 1420px) {
    .modal {
        padding-left: 1.6875rem;
    }
}

@media (max-width: 1280px) {
    .modal {
        padding-left: 1rem;

        &__inner {
            width: 27.375rem;
        }
    }
}

@media (max-width: 1200px) {
    .modal {
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0));
        inset: 0;
        padding: 0.625rem;

        &__inner {
            background-color: var(--main-background-color);
            border: 0.0625rem solid var(--dark-border);
            height: 96vh;
            padding-top: 1rem;
            width: 100%;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }

        &__title {
            margin-bottom: 0.625rem;
            padding: 0rem 2rem;
        }

        &__subtitle {
            border-bottom: 0.0625rem solid var(--dark-border);
            padding: 0rem 2rem 1rem;
        }
    }
}

@media (max-width: 768px) {
    .modal {
        &__inner {
            padding-top: 0.625rem;
        }

        &__title {
            padding: 0rem 1.25rem;
            margin-bottom: 0.625rem;
        }

        &__subtitle {
            padding: 0rem 1.25rem 1rem;
            margin: 0;
        }
    }
}

@media (max-width: 420px) {
    .modal {
        &__title {
            padding: 0rem 0.75rem;
        }

        &__subtitle {
            padding: 0rem 0.75rem 1rem;
        }
    }
}
