@import '../../css/mixin.scss';

.beginning {
    @include flex-container();
    height: var(--height-large);
    position: relative;

    &::after {
        @include absolute-position(0, 0, 0, 0);
        box-shadow: 0.0625rem 0.0625rem 6.25rem 3.125rem rgba(0, 0, 0, 1) inset;
        content: '';
        display: block;
    }

    &__inner {
        @include flex-container($justify-content: center, $align-items: center);
        position: relative;
        width: 100%;
    }

    &__background_box {
        display: grid;
        position: relative;
        height: 100%;
        width: 100%;
    }

    &__background_box source {
        grid-row: 1 / -1;
    }

    &__background_frame {
        display: none;
    }

    &__background {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        filter: hue-rotate(var(--data-image-color));
        height: 100%;
        object-fit: cover;
        user-select: none;
        width: 100%;
    }

    &__box_title {
        @include absolute-position($top: 2.5rem, $left: 50%);
        max-width: 38.75rem;
        text-align: center;
        transform: translateX(-50%);
        width: 100%;
        z-index: 2;
    }

    &__title {
        @include text-properties(
            $font-size: 1.125rem,
            $letter-spacing: 0.075rem
        );
        color: var(--main-text-color);
        margin-bottom: 0.625rem;
    }

    &__subtitle {
        @include text-properties(
            $font-size: 0.875rem,
            $letter-spacing: 0.075rem
        );
        color: var(--stone-grey);
    }
}

.loader polygon {
    stroke-width: 2;
}

@media (max-width: 1700px) {
    .beginning {
        height: var(--height-medium);
    }
}

@media (max-width: 1380px) {
    .beginning {
        height: calc(
            var(--height-small) + 1rem
        ); // 1rem padding на других страницах
    }
}

@media (max-width: 1200px) {
    .beginning {
        @include flex-container(column);
        height: auto;

        &::after {
            display: none;
        }

        &__inner {
            @include flex-container(
                column,
                $align-items: center,
                $gap: 1.875rem 0rem
            );
            border: none;
        }

        &__box_title {
            position: static;
            transform: none;
        }

        &__background_box {
            border: 0.0625rem solid var(--frame-border-color);
            aspect-ratio: 25 / 14.1;
        }

        &__background_frame {
            display: block;
        }

        &__background {
            object-fit: cover;
            transform: none;
        }
    }
}

@media (max-width: 978px) {
    .beginning__inner {
        row-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .beginning {
        padding-top: 1.5rem;

        &__inner {
            gap: 1.5625rem 0rem;
        }

        &__box_title {
            max-width: none;
        }
    }
}

@media (max-width: 370px) {
    .beginning {
        &__title {
            font-size: 1rem;
            line-height: 1rem;
        }

        &__subtitle {
            font-size: 0.75rem;
            line-height: 0.75rem;
        }
    }
}
