@import '../../css/mixin.scss';

.decorative-corner {
    @include absolute-position(0, $right: 0);
    background: linear-gradient(232deg, rgba(var(--data-main-color), 0.33) 0%, rgba(var(--data-main-color), 0) 34.83%);
    height: 19.375rem;
    width: 36.4375rem;
    z-index: -1;
}
