@import '../../css/mixin.scss';

.hexagon {
    @include absolute-position(50%, -1.125rem);
    transform: translateY(-50%);
    transition: filter var(--transition-element);
}

.hexagon_border {
    stroke: var(--main-color);
}

.hexagon polygon {
    transition: filter var(--transition-element);
}

.bluetooth {
    @include absolute-position(50%, 0.3125rem);
    stroke: var(--main-color);
    fill: var(--main-color);
    height: 1.5rem;
    transform: translateY(-50%);
    width: 1.5rem;
}

.bluetooth path {
    transition: filter var(--transition-element);
}

.technologies_icon {
    fill: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    fill: var(--main-color);
}

.folder {
    fill: var(--main-color);
    height: 24px;
    width: 24px;
}

.joystick_left,
.joystick_right,
.joystick_up,
.joystick_down {
    cursor: pointer;
    fill: var(--main-color);
    height: 4rem;
    position: absolute;
    width: 4rem;
}

.joystick_left:active,
.joystick_right:active,
.joystick_up:active,
.joystick_down:active {
    height: 4.3rem;
    width: 4.3rem;
}

.joystick_down {
    bottom: -3%;
    right: 50%;
    transform: translateX(50%);
}

.joystick_up {
    left: 50%;
    top: -3%;
    transform: translateX(-50%);
}

.joystick_right {
    right: -3%;
    top: 47.5%;
    transform: translateY(-50%);
}

.joystick_left {
    left: -3%;
    top: 47.5%;
    transform: translateY(-50%);
}

@media (max-width: 1200px) {
    .bluetooth {
        scale: 1.2;
    }
}
