@import '../../css/mixin.scss';

.creations {
    @include flex-container(column, $align-items: center);
    height: var(--height-large);
    padding: 2.5rem 1.625rem 0rem 1.625rem;
    position: relative;

    &__inner {
        @include flex-container($justify-content: center, $gap: 0rem 0.9375rem);
        width: 100%;
    }

    &__title {
        @include text-properties($font-size: 1.125rem);
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__details_block {
        @include grid-container(1fr, auto, $gap: 1.25rem 0rem);
        max-width: 20.625rem;
        width: 100%;
    }
}

.xplorer_block {
    @include flex-container(column, $gap: 1.875rem 0rem);
    margin-bottom: 3.125rem;
    max-width: 51.25rem;
    width: 100%;
}

.box_button {
    @include flex-container($justify-content: flex-end);

    &__back {
        @include button-escape();
        background-color: transparent;
        border: 0.0625rem solid var(--main-color);
        color: var(--main-color);
        text-align: center;
        transition:
            box-shadow var(--transition-element),
            text-shadow var(--transition-element);
        max-width: 11.5rem;
        width: 100%;
    }
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader polygon {
    stroke-width: 2;
}

@media (hover: hover) {
    .box_button__back:hover {
        box-shadow: var(--box-shadow);
        text-shadow: var(--text-shadow);
    }
}

@media (max-width: 1700px) {
    .creations {
        height: var(--height-medium);
    }
}

@media (max-width: 1380px) {
    .creations {
        height: var(--height-small);
        overflow-y: scroll;

        &__inner {
            flex-direction: column;
            row-gap: 1.25rem;
        }

        &__details_block {
            grid-template-columns: 1fr 1fr;
            max-width: 100%;
        }
    }

    .xplorer_block {
        margin-bottom: 4.125rem;
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .creations {
        padding: 1.5rem 0.625rem 0rem;
        height: auto;

        &__title {
            margin-bottom: 1.5rem;
        }
    }

    .xplorer_block {
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    .creations {
        padding: 1.5rem 0rem 0rem;

        &__title {
            margin-bottom: 0.5rem;
        }
    }

    .xplorer_block {
        margin-bottom: 5.125rem;
    }
}
