@import '../../css/mixin.scss';

.creations {
    background-image: var(--background-gradient);
    border: 0.0625rem solid var(--frame-border-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-height: var(--height-large);
    padding: 2.5rem 4.375rem 0rem 0.625rem;
    position: relative;

    &__inner {
        @include flex-container($gap: 0rem 0.9375rem);
    }

    &__title {
        @include text-properties($font-size: 1.125rem);
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__details_block {
        @include flex-container(column, $gap: 1.25rem 0rem);
        max-width: 20.625rem;
        width: 100%;
    }
}

.xplorer_block {
    @include flex-container(column, $gap: 1.875rem 0rem);
    max-width: 51.25rem;
    width: 100%;
}

.box_button {
    @include flex-container($justify-content: flex-end);

    &__back {
        @include button-escape();
        background-color: transparent;
        border: 0.0625rem solid var(--main-color);
        color: var(--main-color);
        transition:
            box-shadow var(--transition-element),
            text-shadow var(--transition-element);
        max-width: 11.5rem;
        width: 100%;
    }
}

@media (hover: hover) {
    .box_button__back:hover {
        box-shadow: var(--box-shadow);
        text-shadow: var(--text-shadow);
    }
}
