@import '../../css/mixin.scss';

.profile {
    @include flex-container(column, $gap: 1.375rem 0rem);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.avatar {
    @include flex-container($align-items: center, $justify-content: center);
    border: 0.0625rem solid var(--frame-border-color);
    cursor: pointer;
    padding: 0.9375rem;
    position: relative;
    user-select: none;
}

.canvas {
    filter: hue-rotate(var(--data-image-color));
    height: 100%;
    width: 100%;
}

.motto {
    margin-top: auto;

    &__title {
        @include text-properties($font-size: 1.125rem, $letter-spacing: 0.075rem);
        color: var(--main-color);
    }

    &__text {
        @include text-properties();
        color: var(--stone-grey);
    }
}

@media (max-width: 1200px) {
    .profile {
        @include grid-container(max-content max-content 1fr 1fr, auto auto, $gap: 0rem 2rem);
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    .avatar {
        grid-row: 1 / -1;
    }

    .motto {
        display: none;
    }
}

@media (max-width: 1050px) {
    .profile {
        column-gap: 1.5rem;
    }
}

@media (max-width: 978px) {
    .profile {
        column-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .avatar {
        display: none;
    }

    .profile {
        @include grid-container(1fr 1fr, repeat(4, max-content), $gap: 0.9375rem 0rem);
        margin-bottom: 10rem;
    }
}
