.circle {
    background-color: rgba(var(--data-main-color), 0.5);
    border-radius: 50%;
    display: none;
    height: 9.5rem;
    position: relative;
    width: 9.5rem;
}

@media (max-width: 1200px) {
    .circle {
        display: block;
    }
}
