@import '@/styles/mixin.scss';

.item {
    display: grid;
    grid-template-columns: 13rem auto;
    gap: 0rem 3rem;

    &__title {
        @include text-properties($line-height: 1.52rem);
    }

    &__text_box {
        display: flex;
        flex-direction: column;
        gap: 1.5rem 0rem;
    }

    &__text {
        @include text-properties($line-height: 1.52rem);
        color: var(--stone-grey);
    }
}
