@import '../../css/mixin.scss';

.xplorer {
    @include text-properties();
    @include flex-container(column);
    background-color: var(--main-background-color);
    border: 0.0625rem solid var(--frame-border-color);
    position: relative;
    height: 29.7rem;

    &__title {
        background-color: var(--main-dark-color);
        padding: 0.625rem;
    }

    &__path {
        @include text-properties();
        border-bottom: 0.0625rem solid var(--frame-border-color);
        border-top: 0.0625rem solid var(--frame-border-color);
        color: var(--dark-grey);
        padding: 0.625rem;
    }

    &__content {
        @include flex-container(column, $flex-wrap: wrap, $gap: 1rem 0rem);
        height: 100%;
        padding: 0.875rem 0.625rem 0.75rem;
        max-height: 25.6rem;
    }

    &__not_content {
        align-self: center;
        justify-self: center;
        padding-top: 0.625rem;
    }
}
