@import '@/styles/mixin.scss';

.box {
    display: none;
    gap: 0rem 1rem;
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    z-index: 10;

    &__navigation {
        @include button-enter();
    }

    &__about {
        @include button-escape();
        border: 0.1rem solid var(--dark-border);
        display: block;
        text-align: center;
    }
}

@media (hover: hover) {
    .box {
        &__navigation:hover {
            background-color: var(--main-color);
        }
        &__about:hover {
            border: 0.1rem solid var(--dark-light-border);
            text-shadow: var(--text-shadow);
        }
    }
}

@media (max-width: 1200px) {
    .box {
        display: flex;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        margin-top: auto;

        &__navigation,
        &__about {
            padding: 1.16rem 0.6rem 0.86rem 0.6rem;
        }
    }
}

@media (max-width: 768px) {
    .box {
        &__navigation,
        &__about {
            padding: 0.7rem 0.5rem 0.4rem 0.5rem;
        }
    }
}
