@import '../../css/mixin.scss';

.item {
    cursor: pointer;
    width: 10rem;

    &__title {
        @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
        background-color: var(--dark-border);
        border-left: 0.125rem solid var(--dark-border);
        overflow: hidden;
        padding: 0.25rem 0.4375rem;
        position: relative;
        transition: all 0.4s;
    }

    &__title_active {
        background-color: var(--main-color);
        border-left: 0.125rem solid var(--main-color);
        transition: all 0.4s;
    }

    &__text {
        @include text-properties($font-size: 0.4375rem, $letter-spacing: 0.03rem);
        background-color: var(--main-background-color);
        border-left: 0.125rem solid var(--dark-border);
        color: var(--dark-grey);
        padding: 0.5rem 3.125rem 0.5rem 0.5rem;
    }

    &__text_active {
        border-left: 0.125rem solid var(--main-color);
        transition: all 0.4s;
    }
}

@media (hover: hover) {
    .item:hover .item__title:not(.item__title_active) {
        background-color: var(--dark-light-border);
    }
}

@media (max-width: 1360px) {
    .item {
        width: 9rem;

        &__title svg {
            display: none;
        }

        &__text {
            padding: 0.5rem 2.125rem 0.5rem 0.5rem;
        }
    }
}

@media (max-width: 1280px) {
    .item {
        width: 8.5rem;
    }
}

@media (max-width: 1200px) {
    // * элементы списка навигации в мобильной версии
    .item {
        min-width: 100%;
        &__title {
            @include text-properties('Big-Shoulders', 1.625rem, 700, 0.085rem);
        }

        &__text {
            font-size: 0.5375rem;
            max-width: 11.175rem;
        }
    }
}

@media (max-width: 768px) {
    .item__title {
        @include fontSize18px();
    }
}
