@import '../../css/mixin.scss';

.title {
    @include flex-container(column, $gap: 0.75rem 0rem);
    @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
    color: var(--main-color);
    cursor: pointer;
    margin-bottom: 0.75rem;
    position: relative;
    z-index: 2;
}

.select {
    @include text-properties('Iceberg');
    @include flex-container(column, $justify-content: center);
    background-color: var(--main-background-color);
    border: 0.0625rem solid var(--dark-light-border);
    color: var(--dark-grey);
    cursor: pointer;
    height: 2.8125rem;
    outline: none;
    padding: 0 0.9375rem;
    position: relative;
    text-transform: uppercase;
    z-index: 3;

    &::before,
    &::after {
        background-color: var(--main-color);
        cursor: pointer;
        content: '';
        display: block;
        height: 0.1875rem;
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: rotate(50deg);
        transition: transform var(--transition-element);
        width: 1rem;
    }

    &::after {
        right: 0.625rem;
        transform: rotate(-50deg);
    }

    &__content {
        @include flex-container(column, $gap: 0.3125rem 0rem);
        background-color: var(--main-background-color);
        border: 0.0625rem solid var(--dark-light-border);
        left: 0;
        padding: 0.5125rem 0.9375rem;
        position: absolute;
        top: calc(100% + 0.3125rem);
        width: 100%;
    }

    &__option {
        position: relative;
    }
}

.select_deactive::before {
    transform: rotate(-50deg);
}

.select_deactive::after {
    transform: rotate(50deg);
}

@media (hover: hover) {
    .select__option:hover {
        color: var(--main-color);
        text-shadow: var(--text-shadow);
    }
}
