@import '@/styles/mixin.scss';

.game_element {
    position: relative;

    &__link {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.64rem 0rem;
        max-width: 22.6rem;
        width: 100%;
    }

    &__image {
        filter: hue-rotate(var(--data-image-color));
        height: 100%;
        width: 100%;
    }

    &_deactive {
        cursor: auto;
        opacity: 0.5;
        user-select: none;
    }

    &__title {
        @include text-properties('Big-Shoulders', 1.8rem, 700);
        color: var(--main-color);
        text-align: center;
        transition: text-shadow var(--transition-element);
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 0.32rem 0rem;
    }

    &__text {
        @include text-properties();
        color: var(--dark-grey);
        text-align: center;
    }
}

@media (hover: hover) {
    .game_element:hover .game_element__title {
        text-shadow: var(--text-shadow);
    }

    .game_element_deactive:hover .game_element__title {
        text-shadow: none;
    }
}

@media (max-width: 974px) {
    .game_element__games {
        grid-column: 1 / -1;
        justify-content: center;
    }
}

@media (max-width: 550px) {
    .content:nth-child(odd) {
        justify-self: center;
    }
}

@media (max-width: 370px) {
    .game_element__content {
        width: 100%;
    }
}
