@import '../../css/mixin.scss';

.logs {
    background-image: var(--background-gradient);
    border: 0.0625rem solid var(--frame-border-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-height: var(--height-large);
    padding: 2.5rem 0.625rem 0rem;
    position: relative;

    &__inner {
        margin: 0 auto;
        max-width: 59.375rem;
    }

    &__title {
        @include text-properties($font-size: 1.125rem);
        text-align: center;
        margin-bottom: 2.1875rem;
    }
}

@media (max-width: 1700px) {
    .logs {
        height: var(--height-medium);
    }
}

@media (max-width: 1380px) {
    .logs {
        height: var(--height-small);
    }
}

@media (max-width: 1200px) {
    .logs {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        padding: 1.5rem 0.625rem 0rem;
        height: auto;
        min-height: 100vh;

        &__inner {
            @include flex-container(column);
            max-width: 100%;
        }

        &__frame {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .logs {
        background-image: none;
        border: none;
        grid-row: 1 / -1;

        &__inner {
            min-height: 100vh;
        }

        &__title {
            margin-bottom: 1.5rem;
        }
    }
}
