@import '../../css/mixin.scss';

.element {
    @include fontSize18px();
    @include grid-container(6fr 1fr, $justify-content: space-between, $align-items: center);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-family: 'Big-Shoulders';
    font-weight: 700;
    letter-spacing: 0.075rem;
    padding: 0.1875rem 0.3125rem;

    &__date {
        @include fontSize14px();
        font-family: 'Iceberg';
        font-weight: 400;
        text-align: right;
    }
}

@media (max-width: 1200px) {
    .element {
        @include fontSize24px();
    }
}

@media (max-width: 768px) {
    .element {
        @include fontSize18px();
    }
}
