@import '../../css/mixin.scss';

.error {
    @include flex-container(column, $gap: 0.5rem 0rem);
    color: var(--stone-grey);
    height: calc(var(--height-large) - 9.375rem);

    &__item {
        padding-left: 1.5rem;
        position: relative;
    }

    &__item span {
        color: var(--main-color);
        cursor: pointer;
        text-decoration: underline;
        transition: var(--transition-element);
    }

    &__item::before {
        color: var(--stone-grey);
        content: '—';
        font-size: 1.5rem;
        font-weight: 700;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 1.2rem;
    }
}

@media (hover: hover) {
    .error__item span:hover {
        text-shadow: 0px 0px 1.5px var(--stone-grey);
    }
}

@media (max-width: 1700px) {
    .error {
        height: calc(var(--height-medium) - 9.375rem);
    }
}

@media (max-width: 1380px) {
    .error {
        height: calc(var(--height-small) - 9.375rem);
    }
}

@media (max-width: 768px) {
    .error {
        height: calc(var(--height-small) - 2.0625rem);
    }
}
