@import '../../css/mixin.scss';

.top_left {
    @include absolute-position(-0.0625rem, $left: -0.0625rem);
    stroke: var(--main-color);
    z-index: 3;
}

.top_right {
    @include absolute-position(-0.0625rem, $right: -0.0625rem);
    stroke: var(--main-color);
    z-index: 3;
}

.bottom_left {
    @include absolute-position($bottom: -0.0625rem, $left: -0.0625rem);
    stroke: var(--main-color);
    z-index: 3;
}

.bottom_right {
    @include absolute-position($bottom: -0.0625rem, $right: -0.0625rem);
    stroke: var(--main-color);
    z-index: 3;
}
