@import '../../css/mixin.scss';

.wrapper {
    @include grid-container($columns: 12.1875rem minmax(auto, 84rem) 12.1875rem, $gap: 2.1875rem 0.9375rem);
    margin: 0 auto;
    max-width: 118.75rem;
    padding: 0 4.6875rem;
    transition: transform var(--transition-wrapper);

    &::before {
        background: linear-gradient(
            232deg,
            hsla(var(--data-main-color), 0.33) 0%,
            hsla(var(--data-main-color), 0) 34.83%
        );
        content: '';
        display: block;
        height: 309px;
        position: absolute;
        right: 0;
        top: 0;
        width: 583px;
        z-index: -1;
    }

    &__active_left {
        transform: perspective(46.875rem) rotateY(-31deg) translateY(-3rem) translateZ(-33.75rem);
    }

    &__active_center {
        transform: perspective(46.875rem) rotateX(25deg) translateY(-12rem) translateZ(-2.5rem);
    }
}

.navigation {
    @include absolute-position($left: 50%, $bottom: 0rem);
    height: 7.5rem;
    transform: translate(-50%, 80%);
    z-index: 1;

    &__list {
        @include flex-container($gap: 0rem 0.9375rem);
    }
}

.setting_active {
    display: flex;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    & polygon {
        stroke-width: 2;
    }

    & svg {
        stroke: var(--main-color);
    }
}

@media (max-width: 1600px) {
    .wrapper {
        padding: 0 2.1875rem;
    }
}

@media (max-width: 1485px) {
    .wrapper {
        grid-template-columns: 10.9375rem minmax(auto, 84rem) 10.9375rem;
        padding: 0 0.9375rem;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-rows: repeat(4, auto);

        &::after {
            background: linear-gradient(
                45deg,
                hsla(var(--data-main-color), 0.33) 0%,
                hsla(var(--data-main-color), 0) 34.83%
            );
            bottom: 0px;
            content: '';
            display: block;
            height: 19.3rem;
            left: 0px;
            position: absolute;
            width: 20rem;
            z-index: -1;
        }
    }

    .navigation {
        display: none;
    }
}

@media (max-width: 978px) {
    .wrapper {
        row-gap: 1.5625rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 0rem minmax(auto, 84rem) 0rem;
        padding: 0 0.625rem;
    }
}
