@import '@/styles/mixin.scss';

.navigation {
    bottom: 0rem;
    display: flex;
    gap: 0rem 1.5rem;
    height: 12rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 80%);
    z-index: 1;
}

.item {
    cursor: pointer;
    position: relative;
    width: 16rem;

    &__title {
        @include text-properties('Big-Shoulders', 1.8rem, 700, 0.12rem, 2.155rem);
        background-color: var(--dark-border);
        border-left: 0.2rem solid var(--dark-border);
        overflow: hidden;
        padding: 0.4rem 0.7rem;
        position: relative;
        transition: background-color var(--transition-element);
    }

    &__title_active {
        background-color: var(--main-color);
        border-left: 0.2rem solid var(--main-color);
        transition: all 0.4s;
    }

    &__text {
        @include text-properties($font-size: 0.7rem, $letter-spacing: 0.048rem, $line-height: 0.679rem);
        background-color: var(--main-background-color);
        border-left: 0.2rem solid var(--dark-border);
        color: var(--dark-grey);
        padding: 0.8rem 5rem 0.8rem 0.8rem;
    }

    &__link {
        position: absolute;
        inset: 0;
    }
}

.item_active {
    user-select: none;
    cursor: auto;
    pointer-events: none;
}

.item_active .item__title {
    @include text-properties('Big-Shoulders', 1.8rem, 700, 0.12rem);
    background-color: var(--main-color);
    border-left: 0.2rem solid var(--main-color);
    overflow: hidden;
    padding: 0.4rem 0.7rem;
    position: relative;
    transition: all 0.4s;
}

.item_active .item__text {
    @include text-properties($font-size: 0.7rem, $letter-spacing: 0.048rem);
    background-color: var(--main-background-color);
    border-left: 0.2rem solid var(--main-color);
    color: var(--dark-grey);
    padding: 0.8rem 5rem 0.8rem 0.8rem;
    transition: all 0.4s;
}

@media (hover: hover) {
    .item:not(.link_active):hover .item__title {
        background-color: var(--dark-light-border);
    }
}

@media (max-width: 1380px) {
    .navigation {
        transform: translate(-50%, 95%);
    }

    .item {
        width: 14.4rem;

        &__title svg {
            display: none;
        }

        &__text {
            padding: 0.8rem 3.4rem 0.8rem 0.8rem;
        }
    }
}

@media (max-width: 1280px) {
    .item {
        width: 13.6rem;
    }
}

@media (max-width: 1200px) {
    .navigation {
        display: none;
    }

    .item {
        min-width: 100%;

        &__text {
            font-size: 0.86rem;
            max-width: 17.78rem;
        }
    }
}
