@import '../../css/mixin.scss';

.content {
    @include flex-container(column, $flex-wrap: wrap, $gap: 1rem 0rem);
    height: 100%;
    padding: 0.875rem 0.625rem 0.75rem;
    max-height: 25.6rem;
}

.not_content {
    align-self: center;
    justify-self: center;
    padding-top: 0.625rem;
}

.item {
    @include text-properties($font-size: 1rem);
    @include flex-container($align-items: center, $gap: 0rem 0.75rem);
    color: var(--dark-grey);
    cursor: pointer;
    transition: color var(--transition-element);

    &_link {
        width: 100%;
    }
}

.frame {
    @include flex-container($justify-content: center, $align-items: center);
    background-color: var(--main-dark-color);
    width: 3rem;
    height: 3rem;
}

@media (hover: hover) {
    .item:hover {
        color: var(--main-color);
    }
}
