.content {
    background-image: var(--background-gradient);
    border: 0.0625rem solid var(--frame-border-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
}

@media (max-width: 1380px) {
    .content {
        padding-bottom: 1rem;
    }

    .content_beginning {
        padding-bottom: 0;
    }
}

@media (max-width: 1200px) {
    .content {
        background-image: none;
        border: none;
        grid-column: 1 / -1;
        grid-row: 2 / 4;
        padding-bottom: 0rem;
    }

    .content_beginning {
        grid-row: 2 / 3;
    }

    .frame {
        display: none;
    }
}

@media (max-width: 768px) {
    .content {
        grid-row: 1 / 4;
    }

    .content_beginning {
        grid-row: 1 / 3;
    }
}
