@import '../../css/mixin.scss';

.label {
    @include text-properties('Iceberg', 0.875rem);
    @include flex-container();
    color: var(--main-color);
    cursor: pointer;
    padding-left: 1.55rem;
    position: relative;
    z-index: 1;

    &__input {
        display: none;
    }

    &__checkbox {
        background-color: transparent;
        border: 0.0625rem solid var(--main-color);
        height: 1.125rem;
        left: 0;
        position: absolute;
        top: -0.125rem;
        transition: box-shadow var(transition-element);
        width: 1.125rem;
    }

    &__checkbox::after {
        @include absolute-position(50%, $left: 50%);
        background-color: var(--main-color);
        content: '';
        display: none;
        height: 0.75rem;
        transform: translate(-50%, -50%);
        width: 0.75rem;
    }
}

.label__input:checked + .label__checkbox::after {
    display: block;
}

.label__input:checked ~ .label__text {
    text-shadow: var(--text-shadow);
}

@media (hover: hover) {
    .label:hover .label__text {
        text-shadow: var(--text-shadow);
    }

    .label:hover .label__checkbox {
        box-shadow: var(--box-shadow);
    }
}
