@import '../../css/mixin.scss';

.time {
    @include flex-container($align-items: center, $gap: 0rem 1.6875rem);
    @include fontSize14px();
    color: var(--main-text-color);
    letter-spacing: 0.0625rem;

    &__credits {
        @include text-properties('Iceberg', 0.75rem, 400, 0.0625rem);
        background-color: transparent;
        border: none;
        color: var(--main-text-color);
        cursor: pointer;
        text-transform: uppercase;
        transition: text-shadow var(--transition-element);
    }
}

.server__time_span,
.local__time_span {
    color: var(--dark-grey);
}

@media (hover: hover) {
    .time__credits:hover {
        text-shadow: var(--text-shadow-white);
    }
}
