@import '../../css/mixin.scss';

.hexagon {
    @include absolute-position(50%, -1.125rem);
    transform: translateY(-50%);
    transition: filter var(--transition-element);
}

.hexagon polygon {
    transition: filter var(--transition-element);
}
