@import '../../css/mixin.scss';

.hexagon {
    @include absolute-position(50%, -1.125rem);
    transform: translateY(-50%);
    transition: all 0.4s;
}

.hexagon polygon {
    transition: all 0.4s;
}
