@import '../../css/mixin.scss';

.update {
    @include grid-container(1fr 1fr, $gap: 0.9375rem);
    margin-bottom: 2.5rem;
}

.element {
    @include flex-container(column, $gap: 0.3125rem 0rem);
    background-color: var(--dark-border);
    clip-path: polygon(0.875rem 0.0625rem, 100% 0.0625rem, 100% 100%, 0% 100%, 0% 0.75rem);
    height: max-content;
    padding: 0.9375rem 0.9375rem 0.625rem;
    position: relative;
    z-index: 2;

    &::before {
        background-color: var(--main-background-color);
        bottom: 0.0625rem;
        clip-path: polygon(0.875rem 0.0625rem, 100% 0.0625rem, 100% 100%, 0% 100%, 0% 0.75rem);
        content: '';
        display: block;
        left: 0.0625rem;
        position: absolute;
        right: 0.0625rem;
        top: 0.0625rem;
        z-index: -1;
    }

    &__title {
        @include text-properties('Big-Shoulders', 1.125rem, 700);
        color: var(--main-color);
    }

    &__text {
        @include text-properties('Iceland', 0.875rem, 400);
        color: var(--dark-grey);
    }

    &__text_clip {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__expend {
        @include text-properties($font-size: 0.875rem);
        align-self: flex-start;
        background-color: transparent;
        border: none;
        color: var(--main-color);
        cursor: pointer;
        justify-self: flex-end;
        padding: 0;
        text-transform: uppercase;
        transition: text-shadow var(--transition-element);
    }
}

.element:has(.element__text_clip) {
    z-index: 1;
}

@media (hover: hover) {
    .element__expend:hover {
        text-shadow: var(--text-shadow);
    }
}

@media (max-width: 1200px) {
    .update {
        grid-template-columns: 1fr;
    }
}
