@import '../../css/mixin.scss';

.title {
    @include text-properties('Iceland', 1.125rem, 400);
    display: block;
    margin-bottom: 0.3125rem;
}

.list {
    @include flex-container(column, $gap: 0.3125rem 0rem);
}

@media (max-width: 1200px) {
    .title {
        margin-bottom: 0.4125rem;
    }
}

@media (max-width: 768px) {
    .list {
        margin-bottom: 5rem;
    }
}
