@import '../../css/mixin.scss';

.ring {
    @include absolute-position(45%, $left: 50%);
    transform: translate(-50%, -50%);

    &__circle {
        transform-origin: center;
        transform: rotate(90deg) scaleX(-1);
    }
}

@media (max-width: 768px) {
    .ring {
        display: none;
    }
}
