@import '../../css/mixin.scss';

.range {
    @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
    @include flex-container(column);
    color: var(--main-color);
    z-index: 2;

    &__box {
        border: 0.0625rem solid var(--dark-light-border);
        height: 2.125rem;
        position: relative;
    }

    &__input {
        appearance: none;
        background-color: #000;
        margin: 0;
        outline: 0;
        padding: 0;
        width: 100%;
    }

    &__input::-webkit-slider-thumb {
        @include position($top: 0.0625rem, $left: 0rem);
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        height: 2.25rem;
        width: 2.5rem;
        z-index: 2;
    }

    &__input::-webkit-slider-runnable-track {
        background: #000;
        height: 1.875rem;
    }

    &__custom_thumb {
        @include absolute-position(-0.09375rem, $left: 0rem);
        background-color: var(--main-color);
        clip-path: var(--clip-path);
        cursor: pointer;
        height: 2.25rem;
        width: 2.5rem;
    }

    &__custom_thumb::before {
        @include absolute-position(50%, $left: 50%);
        border: 0.0625rem solid rgba(0, 0, 0, 0.3);
        content: '';
        height: 1.0625rem;
        transform: translate(-50%, -50%);
        width: 1.375rem;
    }

    &__progress {
        @include absolute-position(0rem, $left: 0rem);
        background-color: var(--main-color);
        height: 100%;
        opacity: 0.5;
        width: 0%;
    }
}

@media (max-width: 1200px) {
    .range {
        @include fontSize26px();
        gap: 0.7rem 0rem;
    }
}

@media (max-width: 768px) {
    .range {
        @include fontSize18px();
    }
}
