@import '../../css/mixin.scss';

.achievements {
    height: var(--height-large);
    padding: 2.5rem 0.625rem 0.625rem;

    &__title {
        @include text-properties($font-size: 1.125rem);
        letter-spacing: 0.075em;
        margin-bottom: 1.625rem;
        text-align: center;
    }

    &__content {
        @include grid-container(1fr 2fr 1fr, 2.2rem repeat(3, auto), $gap: 0rem 1.25rem);
        position: relative;
    }

    &__achievements {
        @include flex-container(column, $gap: 3.75rem 0rem);
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        height: calc(var(--height-large) - 9.375rem);
        overflow-y: auto;
        padding-right: 0.3125rem;

        &::-webkit-scrollbar-track {
            margin-top: 35px;
        }
    }
}

.switchers {
    @include flex-container(column, $gap: 0.625rem 0rem);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding-top: 0.25rem;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    & polygon {
        stroke-width: 2;
    }

    & svg {
        stroke: var(--main-color);
    }
}

@media (max-width: 1700px) {
    .achievements {
        height: var(--height-medium);

        &__achievements {
            height: calc(var(--height-medium) - 9.375rem);
        }
    }
}

@media (max-width: 1380px) {
    .achievements {
        height: var(--height-small);

        &__achievements {
            height: calc(var(--height-small) - 6.375rem);
        }
    }
}

@media (max-width: 1200px) {
    .achievements {
        height: auto;

        &__achievements {
            height: auto;
            max-height: calc(100vh - 14.6875rem);
            overflow-y: auto;
        }
    }
}

@media (max-width: 914px) {
    .achievements__content {
        grid-template-columns: max-content 2fr max-content;
    }
}

@media (max-width: 768px) {
    .switchers {
        align-self: end;
        flex-direction: row;
        gap: 0 1rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .achievements {
        padding: 1.5rem 0.625rem 0rem;

        *::-webkit-scrollbar {
            background-color: transparent;
            width: 0.4125rem;
        }

        &__achievements {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }

        &__content {
            grid-template-columns: 2fr 1fr;
            grid-template-rows: max-content max-content;
            row-gap: 1.5rem;
            min-height: calc(100vh - 9.375rem);
        }
    }
}

@media (max-width: 500px) {
    .switchers {
        grid-column: 1 / -1;
        justify-content: space-around;
        gap: 0rem 0.2rem;
    }

    .achievements {
        &__achievements {
            gap: 2.75rem 0rem;
            grid-row: 2 / 3;
            height: calc(100vh - 235px);
            padding: 1.5rem 0rem 0rem;
        }

        &__content {
            grid-template-rows: max-content max-content max-content;
            row-gap: 1rem;
        }
    }
}
