@import '../../css/mixin.scss';

.achievements {
    background-image: var(--background-gradient);
    border: 0.0625rem solid var(--frame-border-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    min-height: var(--height-large);
    padding: 2.5rem 0.625rem 0.625rem;
    position: relative;

    &__title {
        @include text-properties($font-size: 1.125rem);
        letter-spacing: 0.075em;
        margin-bottom: 0.625rem;
        text-align: center;
    }

    &__content {
        @include grid-container(1fr 2fr 1fr, 2.2rem repeat(3, auto), $gap: 0rem 1.25rem);
    }

    &__achievements {
        @include flex-container(column, $gap: 3.75rem 0rem);
        grid-column: 2 / 3;
        grid-row: 1 / -1;
    }
}

.achieved {
    &__title {
        display: block;
        margin-bottom: 1.125rem;
    }

    &__achievements {
        @include flex-container(column, $gap: 1.25rem 0rem);
    }
}

.ongoing {
    &__title {
        display: block;
        margin-bottom: 1.125rem;
    }

    &__achievements {
        @include flex-container(column, $gap: 1.25rem 0rem);
    }
}

.switchers {
    @include flex-container(column, $gap: 0.625rem 0rem);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding-top: 0.25rem;
}
