@import '@/styles/mixin.scss';

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    position: absolute;
    z-index: 10;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 47rem;
        height: 100%;
    }

    &__content {
        background-color: var(--main-background-color);
        border: 0.1rem solid var(--dark-light-border);
        padding: 1.92rem;
        max-width: 32rem;
    }

    &__text {
        @include text-properties('Iceberg', 1.4rem, 400);
        color: var(--dark-grey);
        margin-bottom: 1.92rem;
        text-align: center;
    }

    &__button {
        @include button-enter();
    }
}

@media (hover: hover) {
    .modal__button:hover {
        background-color: var(--main-color);
    }
}

@media (max-width: 1700px) {
    .modal {
        padding-left: 9.1rem;
    }
}

@media (max-width: 1540px) {
    .modal {
        padding-left: 5.9rem;
    }
}

@media (max-width: 1420px) {
    .modal {
        padding-left: 2.7rem;
    }
}

@media (max-width: 1280px) {
    .modal {
        padding-left: 1.6rem;
    }
}

@media (max-width: 1200px) {
    .modal__inner {
        max-width: 100%;
    }
}
