@import '../../css/mixin.scss';

.header {
    @include flex-container($align-items: flex-end, $justify-content: space-between);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top: 1.25rem;
    min-height: 3.25rem;
}

.statistics {
    @include text-properties('Big-Shoulders', 1rem, 700, 0.075rem);
    @include flex-container($align-items: flex-end, $gap: 0rem 2.8125rem);
    color: var(--stone-grey);
    position: relative;
}

.coins {
    @include flex-container($align-items: flex-end, $gap: 0rem 0.8125rem);

    &__add_box {
        position: relative;
    }

    &__text_box {
        position: relative;
        top: 0.1375rem;
    }

    &__text {
        @include text-properties('Big-Shoulders', 1.625rem, 700, 0.125rem);
        color: var(--statistics-text-color);
    }

    &__btn {
        @include flex-container($align-items: center, $justify-content: center);
        background-color: var(--main-background-color);
        border: 0.0625rem solid var(--dark-light-border);
        color: var(--main-color);
        cursor: auto;
        font-size: 1.2rem;
        height: 2rem;
        padding: 0rem;
        position: relative;
        user-select: none;
        width: 2rem;
    }

    &__btn_pulse {
        cursor: pointer;
        user-select: auto;
    }

    &__btn_pulse:active {
        font-size: 1.65rem;
    }

    &__cross {
        @include absolute-position(50%, 50%);
        cursor: pointer;
        transform: translate(-50%, -50%);
    }
}

.pulse {
    animation: pulse infinite 1s;
    background-color: var(--main-color);
    inset: 0;
    opacity: 1;
    position: absolute;
    z-index: -1;
}

.level {
    &__box {
        @include position($top: 0.2625rem);
        @include grid-container($columns: auto auto, $align-items: center, $gap: 0rem 0.4125rem);
    }

    &__text {
        @include text-properties('Big-Shoulders', 1.625rem, 700, 0.125rem);
        color: var(--statistics-text-color);
        position: relative;
    }
}

.loader {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(110%, -67%);
    z-index: 20;

    & polygon {
        stroke-width: 2;
    }

    & svg {
        stroke: var(--main-color);
    }
}

.error {
    animation: text-blink 0.01s steps(2) infinite;
    color: var(--main-color);
    position: relative;
}

@keyframes text-blink {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        scale: 1;
    }

    100% {
        opacity: 0;
        scale: 1.4;
    }
}

@media (hover: hover) {
    .coins__add_box:hover .pulse {
        animation: none;
    }
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}
