@import '../../css/mixin.scss';

.details {
    border: 0.0625rem solid var(--frame-border-color);
    padding: 0.75rem;

    &__title {
        @include text-properties();
        background-color: var(--main-darklight-color);
        margin-bottom: 0.5rem;
        overflow: hidden;
        padding: 0.3125rem 0.5rem 0.25rem 0.5rem;
        position: relative;
    }

    &__subtitle {
        @include text-properties();
        margin-bottom: 0.3125rem;
    }

    &__text {
        @include text-properties('Big-Shoulders', 1.125rem, 700);
        color: var(--main-color);
        line-height: 1.375rem;
    }
}

.decorative_line {
    background-color: var(--frame-border-color);
    height: 0.0625rem;
    margin: 1rem 0rem 0.75rem;
}
