.trCont {
    position: absolute;
    top: 0;
    display: grid;
    z-index: 100;
    grid-template-columns: repeat(8, 1fr);
}

.tr {
    width: 12.5vw;
    height: 33.33vh;
    background-color: var(--main-color);
    opacity: 1;
}

.tr1 {
    transition: all linear 0.5s;
    transition-delay: 0.2s;
}

.tr2 {
    transition: all linear 0.9s;
    transition-delay: 0.1s;
}

.tr3 {
    transition: all linear 0.3s;
    transition-delay: 0.5s;
}
