@import '../../css/mixin.scss';

.box {
    @include flex-container($justify-content: space-between, $gap: 0.96875rem);
    width: 100%;

    &__enter {
        @include button-enter();
    }

    &__esc {
        @include button-escape();
        border: 0.0625rem solid var(--dark-border);
    }
}

@media (hover: hover) {
    .box {
        &__enter:hover {
            background-color: var(--main-color);
        }

        &__esc:hover {
            border: 0.0625rem solid var(--dark-light-border);
            text-shadow: var(--text-shadow);
        }
    }
}

@media (max-width: 1200px) {
    .box {
        flex-direction: column;
        gap: 0.625rem 0rem;
        margin-bottom: 2rem;
        margin-top: auto;
        padding: 0rem 2rem;

        &__enter,
        &__esc {
            height: 2.8125rem;
            margin-top: 0rem;
            max-width: 100%;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .box {
        padding: 0 1.25rem;
        margin-bottom: 0.75rem;

        &__enter,
        &__esc {
            height: auto;
        }
    }
}

@media (max-width: 420px) {
    .box {
        padding: 0 0.75rem;
    }
}
