:root {
    --size: 16px;

    --data-hue: 0;
    --data-saturation: 71%;
    --data-lightness: 56%;
    --data-main-color: var(--data-hue), var(--data-saturation), var(--data-lightness);
    --data-image-color: 0deg;

    --main-background-color: #000003;
    --main-color: hsl(var(--data-main-color));
    --main-dark-color: hsla(var(--data-main-color), 0.2);
    --main-darklight-color: hsla(var(--data-main-color), 0.9);
    --main-text-color: rgb(255, 255, 255);

    --background-gradient: linear-gradient(
        90deg,
        hsla(var(--data-main-color), 0) 0%,
        hsla(var(--data-main-color), 0.17) 51.94%,
        hsla(var(--data-main-color), 0) 100%
    );

    --dark-grey: #7a7a7a;
    --dark-border: #262626;
    --dark-light-border: #333;
    --statistics-text-color: #7dff68;
    --stone-grey: #b2b7ba;

    --frame-border-color: rgba(255, 255, 255, 0.1); /*  граница рамок */
    --modal-filter: brightness(13%);
    --bg-creations-modal: #000;

    --box-shadow: 0rem 0rem 0.09375rem var(--main-color);
    --text-shadow: 0rem 0rem 0.09375rem var(--main-color);
    --text-shadow-black: 0rem 0rem 0.0125rem var(--main-background-color);
    --text-shadow-white: 0rem 0rem 0.0125rem var(--main-text-color);

    --clip-path-modal: polygon(0.875rem 0rem, 100% 0rem, 100% 100%, 0% 100%, 0% 0.75rem);

    --height-large: 50rem;
    --height-medium: 49.75rem;
    --height-small: 43.5rem;

    --legendary: 232, 187, 74;
    --epic: 163, 53, 210;
    --rare: 74, 175, 232;
    --unusual: 93, 226, 106;

    --transition-wrapper: 1.5s;
    --transition-element: 0.2s;
}
