.form {
    border: 0.1rem solid var(--dark-border);
    clip-path: var(--clip-path-modal);
    display: flex;
    flex-direction: column;
    gap: 3.2rem 0rem;
    margin-bottom: 1rem;
    min-height: 55rem;
    padding: 2.68rem 3.2rem 3.2rem;
    position: relative;
    width: 47rem;
}

.border {
    background-color: var(--dark-border);
    height: 0.2rem;
    left: -1.95rem;
    position: absolute;
    rotate: -40deg;
    top: 0.2rem;
    width: 5.8rem;
    z-index: 2;
}

@media (max-width: 1280px) {
    .form {
        width: 43.8rem;
    }
}

@media (max-width: 1200px) {
    .border {
        display: none;
    }

    .form {
        background-color: var(--main-background-color);
        border: none;
        clip-path: none;
        min-height: auto;
        padding-bottom: 1.6rem;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .form {
        min-height: auto;
        padding: 1.25rem;
    }
}

@media (max-width: 420px) {
    .form {
        padding: 1.2rem;
    }
}
