@import '../../css/mixin.scss';

.wrapper {
    @include flex-container(column, $align-items: center);
    margin: 0 auto;
    width: max-content;
}

.canvas {
    border: 0.325rem solid var(--main-color);
    height: 22.75rem;
    width: 22.75rem;
}

.score {
    @include flex-container($justify-content: space-between);
    @include text-properties('Big-Shoulders', 1.425rem, 700);
    color: var(--main-color);
    user-select: none;
}

.back {
    @include flex-container($justify-content: flex-end, $align-items: center);
    @include text-properties($font-size: 1.125rem, $letter-spacing: 0.1rem);
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: text-shadow var(--transition-element);

    &__quotes {
        position: relative;
        top: -1px;
    }
}

@media (hover: hover) {
    .back:hover {
        text-shadow: var(--text-shadow);
    }
}

@media (max-width: 1200px) {
    .canvas {
        order: 2;
    }

    .score {
        order: 1;
    }

    .back {
        order: 3;
    }

    .joystick {
        margin-top: 20px;
        order: 4;
    }
}

@media (max-width: 600px) {
    .wrapper {
        @include flex-container(column, $gap: 0.935rem 0rem);
    }

    .joystick {
        margin-top: 2rem;
    }
}

@media (max-width: 400px) {
    .canvas {
        width: 255px;
        height: 255px;
    }
}
