@import '../../css/mixin.scss';

.wrapper {
    @include grid-container(1fr, $gap: 0.925rem 0rem);
    margin: 0 auto;
    width: max-content;
}

.canvas {
    border: 0.325rem solid var(--main-color);
    height: 22.75rem;
    width: 22.75rem;
}

.title {
    @include text-properties('Big-Shoulders', 1.425rem, 700);
    color: var(--main-color);
    user-select: none;
}

.back {
    @include flex-container($justify-content: flex-end, $align-items: center);
    @include text-properties($font-size: 1.125rem, $letter-spacing: 0.1rem);
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: text-shadow var(--transition-element);

    &__quotes {
        position: relative;
        top: -1.5px;
    }
}

@media (hover: hover) {
    .back:hover {
        text-shadow: var(--text-shadow);
    }
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: max-content 1fr;
        column-gap: 2rem;
    }

    .canvas {
        grid-column: 2 / 3;
    }

    .title {
        grid-column: 2 / 3;
    }

    .back {
        grid-column: 2 / 3;
    }

    .joystick {
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
    }
}

@media (max-width: 600px) {
    .wrapper {
        @include flex-container(column, $gap: 0.935rem 0rem);
        grid-template-columns: 1fr;
    }

    .joystick {
        order: 4;
        margin-top: 2rem;
    }
}

@media (max-width: 400px) {
    .canvas {
        width: 255px;
        height: 255px;
    }
}
