@import '../../css/mixin.scss';

.aside {
    @include flex-container(column);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.quest {
    @include flex-container(column, $gap: 0.9375rem 0rem);
    border-left: 0.125rem solid var(--main-darklight-color);
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    &__active_title {
        @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
        background-color: var(--main-darklight-color);
        padding: 0.25rem 0.625rem 0.125rem;
        overflow: hidden;
        position: relative;
    }

    &__active_text {
        background-color: var(--main-dark-color);
        color: var(--dark-grey);
        display: block;
        font-size: 0.875rem;
        line-height: 0.875rem;
        padding: 0.5rem 0.625rem;
    }

    &__title {
        font-size: 0.875rem;
        letter-spacing: 0.065625rem;
        line-height: 0.875rem;
        margin-bottom: 0.3125rem;
        padding-left: 0.5rem;
    }

    &__name_text {
        @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
        color: var(--main-color);
        padding-left: 0.5rem;
    }

    &__goal_text {
        color: var(--dark-grey);
        display: block;
        font-size: 0.875rem;
        line-height: 0.875rem;
        padding-left: 0.5rem;
    }

    &__hexagon {
        @include absolute-position(0.9375rem, $right: -0.9375rem);
        transform: translateY(-50%);
    }
}

.settings {
    @include flex-container(column, $gap: 0.3125rem 0rem);
    margin-top: auto;
    padding-left: 0.125rem;
}

.audio,
.visual {
    @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
    @include flex-container($justify-content: space-between, $align-items: center, $gap: 0.625rem);
    background-color: transparent;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    outline: none;
    padding: 0rem 0rem 0.125rem 0.6rem;
    text-transform: uppercase;
    transition:
        border-color var(--transition-element),
        box-shadow var(--transition-element),
        text-shadow var(--transition-element),
        filter var(--transition-element);
}

.visual {
    border: 0.0625rem solid var(--dark-border);
    outline: none;
    padding-right: 0.3125rem;
    padding-top: 0.3125rem;
}

.visual svg path {
    transition: filter var(--transition-element);
}

.audio .checkbox {
    border: 0.0625rem solid var(--main-color);
    height: 2.0625rem;
    position: relative;
    width: 2.0625rem;
}

.audio .checkbox::before,
.audio .checkbox::after {
    @include absolute-position(44.2%);
    background-color: var(--main-color);
    content: '';
    height: 0.1875rem;
    transition:
        box-shadow var(--transition-element),
        transform var(--transition-element),
        top var(--transition-element),
        right var(--transition-element),
        width var(--transition-element);
}

.audio .checkbox::before {
    right: 0.9375rem;
    top: 55%;
    transform: rotate(45deg);
    width: 0.5625rem;
}

.audio .checkbox::after {
    right: 0.3125rem;
    transform: rotate(-46deg);
    width: 0.9375rem;
}

.audio .checkbox__deactive::before {
    right: 0.25rem;
    top: 45%;
    transform: rotate(45deg);
    width: 1.375rem;
}

.audio .checkbox__deactive::after {
    right: 0.25rem;
    transform: rotate(-45deg);
    width: 1.375rem;
}

.audio__deactive {
    opacity: 0.5;
}

@media (hover: hover) {
    .audio:hover {
        text-shadow: var(--text-shadow);
    }

    .audio:hover .checkbox::before,
    .audio:hover .checkbox::after {
        box-shadow: var(--box-shadow);
    }

    .visual:hover {
        border: 0.0625rem solid var(--dark-light-border);
        text-shadow: var(--text-shadow);
    }

    .visual:hover svg path {
        filter: drop-shadow(var(--box-shadow));
    }
}

@media (max-width: 1500px) {
    .quest__active_text {
        font-size: 0.675rem;
        line-height: 0.675rem;
    }
}

@media (max-width: 1200px) {
    .quest,
    .settings {
        display: none;
    }
}
