@import '@/styles/mixin.scss';

.logs_update {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 4rem;

    &__element {
        background-color: var(--dark-border);
        clip-path: polygon(1.4rem 0.1rem, 100% 0.1rem, 100% 100%, 0% 100%, 0% 1.2rem);
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0rem;
        height: max-content;
        padding: 1.5rem 1.5rem 1rem;
        position: relative;
        z-index: 2;

        &::before {
            background-color: var(--main-background-color);
            bottom: 0.0625rem;
            clip-path: polygon(0.4rem 0.1rem, 100% 0.1rem, 100% 100%, 0% 100%, 0% 1.2rem);
            content: '';
            display: block;
            left: 0.1rem;
            position: absolute;
            right: 0.1rem;
            top: 0.1rem;
            z-index: -1;
        }
    }

    &__element_title {
        @include text-properties('Big-Shoulders', 1.8rem, 700, $line-height: 2.155rem);
        color: var(--main-color);
    }

    &__element_text {
        @include text-properties('Iceland', 1.4rem, 400, $line-height: 1.458rem);
        color: var(--dark-grey);
        min-height: 4.55rem;
    }

    &__element_text_clip {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__element_expend {
        @include text-properties($font-size: 1.4rem);
        align-self: flex-start;
        background-color: transparent;
        border: none;
        color: var(--main-color);
        cursor: pointer;
        justify-self: flex-end;
        padding: 0;
        text-transform: uppercase;
        transition: text-shadow var(--transition-element);
    }

    &__element_expend_deactive {
        color: hsla(var(--data-main-color), 0.5);
        cursor: auto;
    }
}

.logs_update__element:has(.logs_update__element_text_clip) {
    z-index: 1;
}

@media (hover: hover) {
    .logs_update__element_expend:hover {
        text-shadow: var(--text-shadow);
    }

    .logs_update__element_expend_deactive:hover {
        text-shadow: none;
    }
}

@media (max-width: 1200px) {
    .logs_update {
        grid-template-columns: 1fr;

        &__element_text {
            min-height: auto;
        }
    }
}

@media (max-width: 350px) {
    .logs_update__element {
        width: calc(100vw - 4rem);
    }
}
