@import '../../css/mixin.scss';

.wrapper {
    @include flex-container($justify-content: center, $align-items: center);
    background-color: black;
    height: 100vh;
}

.container {
    color: var(--main-color);
    margin: 0 4% 0 4%;
    padding: 4.125rem 1rem 4.125rem;
    text-align: center;
    width: 100%;
}

.title {
    animation: twitching404 5s infinite steps(1);
    font-size: 15.5rem;
    line-height: 100%;
    user-select: none;
}

.description {
    font-size: 5rem;
    line-height: 100%;
    user-select: none;
}

.glitch {
    position: relative;
}

.glitch:before {
    animation: glitch 8s infinite linear alternate-reverse;
    box-sizing: content-box;
    clip: rect(0, 56.25rem, 0, 0);
    color: var(--main-color);
    content: attr(data-text);
    height: 100%;
    left: -0.25rem;
    line-height: 100%;
    overflow: hidden;
    position: absolute;
    text-shadow: 0.0625rem 0 white;
    top: 0;
    width: 100%;
}

.glitch:after {
    animation: glitch 5s infinite linear alternate-reverse;
    box-sizing: content-box;
    clip: rect(0, 56.25rem, 0, 0);
    color: var(--main-color);
    content: attr(data-text);
    height: 100%;
    left: 0.25rem;
    line-height: 100%;
    overflow: hidden;
    position: absolute;
    text-shadow: -0.0625rem 0 white;
    top: 0;
    width: 100%;
}

@keyframes twitching404 {
    0% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-1%) skew(50deg);
    }

    36% {
        transform: translateX(1%) skew(0deg);
    }

    37% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes glitch {
    0% {
        clip: rect(1.5rem, 9999rem, 8.5rem, 0);
    }
    5% {
        clip: rect(8.875rem, 9999rem, 5.1875rem, 0);
    }
    10% {
        clip: rect(5.125rem, 9999rem, 2.3125rem, 0);
    }
    15% {
        clip: rect(3.1875rem, 9999rem, 4.875rem, 0);
    }
    20% {
        clip: rect(9.375rem, 9999rem, 2.4375rem, 0);
    }
    25% {
        clip: rect(4.125rem, 9999rem, 7.625rem, 0);
    }
    30% {
        clip: rect(8.8125rem, 9999rem, 2.0625rem, 0);
    }
    35% {
        clip: rect(7.875rem, 9999rem, 1.0625rem, 0);
    }
    40% {
        clip: rect(7.8125rem, 9999rem, 7.75rem, 0);
    }
    45% {
        clip: rect(2.125rem, 9999rem, 1.375rem, 0);
    }
    50% {
        clip: rect(3.375rem, 9999rem, 4.4375rem, 0);
    }
    55% {
        clip: rect(2.125rem, 9999rem, 8.4375rem, 0);
    }
    60% {
        clip: rect(9.375rem, 9999rem, 6.125rem, 0);
    }
    65% {
        clip: rect(1.625rem, 9999rem, 2rem, 0);
    }
    70% {
        clip: rect(3.125rem, 9999rem, 0.125rem, 0);
    }
    75% {
        clip: rect(9rem, 9999rem, 4.8125rem, 0);
    }
    80% {
        clip: rect(8.4375rem, 9999rem, 3.3125rem, 0);
    }
    85% {
        clip: rect(8.1875rem, 9999rem, 8.9375rem, 0);
    }
    90% {
        clip: rect(7.9375rem, 9999rem, 8.3125rem, 0);
    }
    95% {
        clip: rect(1.5rem, 9999rem, 7.8125rem, 0);
    }
    100% {
        clip: rect(1.875rem, 9999rem, 9.1875rem, 0);
    }
}

@media (max-width: 460px) {
    .title {
        font-size: 13.5rem;
    }

    .description {
        font-size: 4rem;
    }
}

@media (max-width: 380px) {
    .title {
        font-size: 11.5rem;
    }

    .description {
        font-size: 4rem;
    }
}
