@import '../../css/mixin.scss';

.wrapper {
    @include flex-container($justify-content: center, $align-items: center);
    height: var(--height-large);
}

.wrapper_boundary {
    @include flex-container($justify-content: center, $align-items: center);
    background-image: var(--background-gradient);
    min-height: 100vh;
}

.title_boundary {
    animation: twitching404 5s infinite steps(1);
    font-size: 11.5rem;
    line-height: 100%;
    user-select: none;
}

.container,
.container_boundary {
    color: var(--main-color);
    padding: 4.125rem 0.5rem 4.125rem;
    text-align: center;
    width: 100%;
}

.title {
    animation: twitching404 5s infinite steps(1);
    font-size: 15.5rem;
    line-height: 100%;
    user-select: none;
}

.description,
.description_boundary {
    font-size: 5rem;
    line-height: 100%;
    user-select: none;
}

.glitch {
    position: relative;
}

.glitch:before {
    animation: glitch 8s infinite linear alternate-reverse;
    box-sizing: content-box;
    clip: rect(0, 56.25rem, 0, 0);
    color: var(--main-color);
    content: attr(data-text);
    height: 100%;
    left: -0.25rem;
    line-height: 100%;
    overflow: hidden;
    position: absolute;
    text-shadow: 0.0625rem 0 white;
    top: 0;
    width: 100%;
}

.glitch:after {
    animation: glitch 5s infinite linear alternate-reverse;
    box-sizing: content-box;
    clip: rect(0, 56.25rem, 0, 0);
    color: var(--main-color);
    content: attr(data-text);
    height: 100%;
    left: 0.25rem;
    line-height: 100%;
    overflow: hidden;
    position: absolute;
    text-shadow: -0.0625rem 0 white;
    top: 0;
    width: 100%;
}

.home {
    animation: attn 3s ease-in-out infinite;
    box-shadow: inset 0 0 0 0 rgba(var(--data-main-color), 0.2);
    color: var(--main-color);
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 1.8rem auto 0rem;
    max-width: 250px;
    overflow: hidden;
    padding: 0.9375rem 1.875rem;
    position: relative;
    transition: 25ms ease-in-out all 0ms;
    width: 100%;

    &::after,
    &::before {
        background-color: var(--main-color);
        content: '';
        display: block;
        height: 0.125rem;
        position: absolute;
        right: 0;
        top: 1.125rem;
        transform: translateX(7.75rem) rotate(90deg);
        width: 100%;
    }

    &::before {
        left: 0;
        transform: translateX(-7.75rem) rotate(90deg);
    }

    &__line {
        background-color: var(--main-color);
        height: 0.125rem;
        position: absolute;
        transition: width 0.5s;
        width: 0.9375rem;
    }
}

.top_left {
    top: 0;
    left: 0;
}

.top_right {
    top: 0;
    right: 0;
}

.bottom_left {
    left: 0;
    bottom: 0;
}

.bottom_right {
    right: 0;
    bottom: 0;
}

.slick {
    background-color: hsla(var(--data-main-color), 0.2);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    height: 0%;
    transition-delay: 0.2s;
}

@media (hover: hover) {
    .home:hover {
        animation: none;
        box-shadow: inset 0 -2em 0 0 rgba(var(--data-main-color), 0.2);
        transition: all 0.3s ease-in-out;
    }

    .home:hover .home__line {
        width: 100%;
    }

    .home:hover .slick {
        height: 100%;
    }
}

@keyframes twitching404 {
    0% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(-1%) skew(50deg);
    }

    36% {
        transform: translateX(1%) skew(0deg);
    }

    37% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes attn {
    0%,
    100% {
        opacity: 1;
    }
    30%,
    35% {
        opacity: 0.4;
    }
}

@media (max-width: 1700px) {
    .wrapper {
        height: var(--height-medium);
    }
}

@media (max-width: 1420px) {
    .description_boundary {
        font-size: 4rem;
    }
}

@media (max-width: 1380px) {
    .wrapper {
        height: calc(var(--height-small));
    }
}

@media (max-width: 1200px) {
    .wrapper {
        height: calc(100vh - 185px);
    }
}

@media (max-width: 1010px) {
    .title_boundary {
        font-size: 9.5rem;
    }

    .description_boundary {
        font-size: 2rem;
    }
}

@media (max-width: 978px) {
    .wrapper {
        height: calc(100vh - 165px);
    }
}

@media (max-width: 850px) {
    .title_boundary {
        font-size: 6.5rem;
    }

    .description_boundary {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: calc(100vh - 80px);
    }
}

@media (max-width: 550px) {
    .title_boundary {
        font-size: 5.6rem;
    }

    .description_boundary {
        font-size: 1.1rem;
        letter-spacing: 3px;
    }
}

@media (max-width: 460px) {
    .title {
        font-size: 13.5rem;
    }

    .title_boundary {
        font-size: 4.6rem;
    }

    .description {
        font-size: 4rem;
    }

    .description_boundary {
        font-size: 0.9rem;
    }
}

@media (max-width: 380px) {
    .container {
        padding: 0;
    }
    .title {
        font-size: 11.5rem;
    }

    .title_boundary {
        font-size: 3.6rem;
    }

    .description {
        font-size: 4rem;
    }

    .description_boundary {
        max-width: 85%;
        margin: 0 auto;
    }
}
