.content {
    display: flex;
    justify-content: space-around;
    gap: 0rem 0.7rem;

    &__item {
        height: 6rem;
        position: relative;
        width: 5.2rem;
    }
}

@media (max-width: 400px) {
    .content {
        column-gap: 0.38rem;
    }
}
