@font-face {
    font-family: 'Big-Shoulders';
    src: url('../public/fonts/BigShouldersDisplay-Bold.woff2'), url('../public/fonts/BigShouldersDisplay-Bold.woff');
    display: swap;
}

@font-face {
    font-family: 'Iceberg';
    src: url('../public/fonts/Iceberg-Regular.woff2'), url('../public/fonts/Iceberg-Regular.woff');
    display: swap;
}

@font-face {
    font-family: 'Iceland';
    src: url('../public/fonts/Iceland-Regular.woff2'), url('../public/fonts/Iceland-Regular.woff');
    display: swap;
}
