@import '~reset-css/reset.css';
@import './variables.scss';
@import './mixin.scss';
@import './fonts.scss';

// LAYOUT
@import './global/ErrorApp.scss';
@import './global/layout/MainLayout.module.scss';
@import './global/layout/Header.scss';
@import './global/layout/HeaderTime.scss';
@import './global/layout/AsideHero.scss';
@import './global/layout/AsideQuest.scss';
@import './global/layout/QuestSetting.scss';
@import './global/layout/Navigation.scss';

// WELCOME
@import './global/welcome/Welcome.scss';

// LOGS
@import './global/logs/Logs.scss';
@import './global/logs/LogsUpdate.scss';
@import './global/logs/LogsOld.scss';
@import './global/logs/LogsGithubLink.scss';

// ACHIEVEMENTS
@import './global/achievements/AchievementsBlock.scss';
@import './global/achievements/AchievementsChallengeBtn.scss';
@import './global/achievements/AchievementsContent.scss';
@import './global/achievements/AchievementsError.scss';
@import './global/achievements/AchievementsProgress.scss';
@import './global/achievements/AchievementsProgressRing.scss';

// CREATIONS
@import './global/creations/CreationsProjectList.scss';
@import './global/creations/CreatinsAbout.scss';
@import './global/creations/CreationsDetails.scss';
@import './global/creations/CreationsTargetProjectList.scss';
@import './global/creations/CreationsTechnologiesContent.scss';

//GAMES
@import './global/games/GamesElement.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--main-color);
    color: var(--main-background-color);
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 0.66rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(var(--data-main-color), 0.4);
    box-shadow: 0.036rem 0.036rem 0.36rem 0.036rem var(--main-color) inset;
    border-radius: 32rem;
}

html {
    font-size: var(--size);
}

body {
    @include text-properties();
    background: var(--main-background-color);
    color: var(--main-text-color);
    overflow-x: hidden;
    position: relative;
    text-transform: uppercase;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    & polygon {
        stroke-width: 2;
    }

    & svg {
        stroke: var(--main-color);
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1950px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1200px) {
    *::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
    }
}
