@import '../../css/mixin.scss';

.modal {
    @include flex-container($align-items: center, $justify-content: center);
    @include position(fixed, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;

    &__inner {
        max-width: 29.375rem;
        width: 100%;
    }

    &__title {
        @include modal-title();
    }

    &__subtitle {
        @include modal-subtitle();
        margin-bottom: 1.25rem;
    }

    &__content {
        backdrop-filter: blur(0.1875rem);
        border: 0.0625rem solid var(--dark-border);
        clip-path: var(--clip-path-modal);
        padding: 2.375rem 2rem 1.75rem;
        margin-bottom: 0.625rem;
    }

    &__setting {
        @include flex-container(column, $gap: 3.125rem 0rem);
        margin-bottom: 6.125rem;
    }

    &__line {
        background-color: var(--main-color);
        height: 0.0625rem;
        margin-bottom: 0.8125rem;
        position: relative;
        width: 100%;
        z-index: 2;
    }

    &__warning {
        @include flex-container($gap: 0rem 0.9375rem);
    }

    &__warning_text {
        @include text-properties();
        color: var(--main-color);
        position: relative;
        z-index: 2;
    }
}

.border {
    @include absolute-position(0.125rem, $left: -1.22rem);
    background-color: var(--dark-border);
    height: 0.125rem;
    rotate: -40deg;
    width: 3.625rem;
    z-index: 2;
}

@media (max-height: 890px) {
    .modal__inner {
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

@media (max-width: 1200px) {
    .modal {
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0));
        inset: 0;
        padding: 0.625rem;

        &__inner {
            @include flex-container(column);
            background-color: var(--main-background-color);
            border: 0.0625rem solid var(--dark-border);
            height: 98vh;
            max-width: none;
            padding-top: 1rem;
            width: 100%;
        }

        &__box_title {
            @include flex-container($justify-content: space-between);
        }

        &__title {
            margin-bottom: 0.625rem;
            padding: 0rem 2rem;
        }

        &__subtitle {
            border-bottom: 0.0625rem solid var(--dark-border);
            padding: 0rem 2rem 1rem;
        }

        &__content {
            border: none;
        }
    }

    .border {
        display: none;
    }
}

@media (max-width: 768px) {
    .modal {
        &__title {
            padding: 0rem 1.25rem;
        }

        &__subtitle {
            padding: 0rem 1.25rem 1.25rem;
        }

        &__content {
            padding: 1.25rem;
        }

        &__setting {
            margin-bottom: 2rem;
        }
    }
}
