@import '../../css/mixin.scss';

.box {
    display: none;
    gap: 0px 0.625rem;
    position: relative;
    margin-bottom: 1.25rem;
    width: 100%;
    z-index: 2;

    &__navigation,
    &__about {
        @include button();
    }

    &__about {
        background-color: var(--main-background-color) !important;
        border: 0.0625rem solid var(--dark-border);
        color: var(--main-color);
    }
}

@media (hover: hover) {
    .box {
        &__navigation:hover {
            background-color: var(--main-color);
        }
        &__about:hover {
            border: 0.0625rem solid var(--dark-light-border);
            text-shadow: var(--text-shadow);
        }
    }
}

@media (max-width: 1200px) {
    .box {
        display: flex;
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        margin-top: auto;

        &__navigation,
        &__about {
            padding: 0.9375rem 0.3125rem 0.8375rem 0.3125rem;
        }
    }
}

@media (max-width: 768px) {
    .box {
        &__navigation,
        &__about {
            padding: 0.4375rem 0.3125rem 0.25rem 0.3125rem;
        }
    }
}
