@import '../../css/mixin.scss';

.modal {
    @include position(fixed, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    &__inner {
        @include flex-container(column, $justify-content: center, $align-items: center);
        height: 100%;
    }

    &__header {
        @include flex-container(column, $gap: 0.5rem 0rem);
        margin-bottom: 2rem;
    }

    &__title {
        @include text-properties('Big-Shoulders', 2.625rem, 700);
        color: var(--main-color);
        text-align: center;
    }

    &__subtitle {
        @include text-properties();
        text-align: center;
    }

    &__content_wrapper {
        @include flex-container($justify-content: center);
        height: 100%;
        margin-bottom: 1.5rem;
        max-height: 35rem;
        max-width: 83rem;
        padding: 0rem 5rem;
        position: relative;
        width: 100%;
    }

    &__content {
        @include flex-container($justify-content: center);
        border: 0.0625rem solid var(--frame-border-color);
        max-width: 73rem;
        overflow: hidden;
        user-select: none;
        width: 100%;
    }

    &__content_inner {
        @include flex-container();
        transition: all 0.5s;
    }

    &__item {
        @include grid-container(1fr 1fr, 1fr 1fr, $justify-content: center);
        min-width: 100%;
    }

    &__item_img {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        height: 100%;
        object-fit: contain;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    &__item_bg {
        filter: blur(5px);
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        height: 100%;
        object-fit: cover;
        position: relative;
        width: 100%;
        z-index: -1;
    }
}

.button_wrapper {
    @include flex-container($justify-content: space-between, $align-items: center);
    max-width: 73rem;
    position: relative;
    width: calc(100% - 10rem);

    &__enter {
        @include button-enter();
        display: block;
        text-align: center;
        max-width: 14.125rem;
    }

    &__count {
        @include text-properties('Big-Shoulders', 0.875rem, 700);
    }

    &__escape {
        @include button-escape();
        border: 0.0625rem solid var(--dark-border);
        max-width: 14.125rem;
    }
}

.vector {
    border: 1.25rem solid transparent;
    box-sizing: content-box;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform-origin: top center;
    transform: translateY(-50%);
    transition: filter var(--transition-element);

    &__left {
        left: 0;
    }

    &__right {
        right: 0;
    }

    &__deactive {
        cursor: auto;
        filter: invert(50%);
    }
}

.vector:not(.vector__deactive):active {
    transform: scale(1.1) translateY(-50%);
}

@media (hover: hover) {
    .button_wrapper {
        &__enter:hover {
            background-color: var(--main-color);
        }

        &__escape:hover {
            border: 0.0625rem solid var(--dark-light-border);
            text-shadow: var(--text-shadow);
        }
    }
}

@media (max-height: 750px) {
    .modal {
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        &__inner {
            min-height: 46rem;
        }
    }
}

@media (max-width: 1200px) {
    .modal {
        background-color: var(--main-background-color);
        padding: 1.25rem 2rem;

        &__content_wrapper {
            padding: 0;
        }
    }

    .button_wrapper {
        width: 100%;
    }

    .vector {
        display: none;
    }
}

@media (max-width: 768px) {
    .modal {
        padding: 1.25rem 0.625rem;

        &__header {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 600px) {
    .button_wrapper {
        flex-wrap: wrap;
        row-gap: 0.625rem;

        &__count {
            text-align: center;
            display: block;
            width: 100%;
            order: 1;
        }

        &__enter {
            max-width: 100%;
            order: 2;
        }

        &__escape {
            max-width: 100%;
            order: 3;
        }
    }
}
