@import '../../css/mixin.scss';

.label {
    @include flex-container(column, $gap: 0.75rem 0rem);
    @include text-properties('Big-Shoulders', 1.125rem, 700, 0.075rem);
    color: var(--main-color);
    cursor: pointer;
    position: relative;
    z-index: 2;

    &__input,
    &__textarea {
        @include text-properties('Iceberg');
        background-color: var(--main-background-color);
        border: 0.0625rem solid var(--dark-light-border);
        color: var(--dark-grey);
        height: 2.8125rem;
        outline: none;
        padding: 0 0.9375rem;
        position: relative;
        text-transform: uppercase;
    }

    &__textarea {
        min-height: 14.8125rem;
        padding-top: 0.9375rem;
        resize: none;
    }

    &__input::placeholder,
    &__textarea::placeholder {
        @include text-properties('Iceberg');
        text-transform: uppercase;
    }

    &__input:focus,
    &__textarea:focus {
        box-shadow: 0 0 0 0.0625rem var(--dark-light-border);
    }

    &__field_error {
        border: 0.0625rem solid var(--main-color);
    }
}

.error_input,
.error_textarea {
    @include text-properties($font-size: 0.75rem);
    bottom: -21px;
    color: var(--dark-grey);
    left: 0;
    position: absolute;
    z-index: 3;
}

.error_textarea {
    bottom: -1.5625rem;
}

@media (max-width: 1200px) {
    .label:has(textarea) {
        height: 100%;
    }

    .label {
        gap: 0.5rem 0rem;

        &__textarea {
            margin-bottom: 0.6rem;
            min-height: 19.8125rem;
        }
    }

    .error_textarea {
        bottom: -0.75rem;
    }
}

@media (max-width: 768px) {
    .label {
        gap: 0.75rem 0rem;

        &__textarea {
            min-height: 16.8125rem;
        }

        &__input {
            height: 2.8125rem;
        }
    }
}
